$mainPink: #118d25ec;
$mainPinkOpacity: #00f83685;
$mainPurple: #261561;
$white: #fff;
$lightGrey1: #f1f1f2;
$lightGrey2: #dededf;
$headingFontSize: 1.5em;

/*MIXIN*/

@mixin padding ($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}