@import url('https://fonts.googleapis.com/css2?family=Muli&family=Open+Sans&display=swap');
@import '_vars.scss';
@import '_animations.scss';

/*MAIN*/

body {
    margin: 0 auto;
    @include padding($top: 0, $right: 0, $bottom: 0, $left: 0);
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white;
    text-align: center;
    max-width: 100vw !important;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Muli', sans-serif;
}

html {
    scroll-behavior: smooth !important;
}


/*SCROLLBAR, SELECTION - PREFIX*/

*::selection {
    background: $mainPinkOpacity;
}

*::-moz-selection {
    background: $mainPinkOpacity;
}

 ::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1f2324;
    background-color: lighten($color: #1f2324, $amount: 3);
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, $mainPink, $mainPinkOpacity);
    border-radius: 10px;
    &:hover {
        background: linear-gradient(to bottom, $mainPink, $mainPinkOpacity);
        transition-delay: 1s !important;
        cursor: pointer !important;
    }
}


/* DETAILS */

footer img {
    width: 60px;
}

.icon-bigger {
    font-size: $headingFontSize;
    margin-right: 10px;
}

.top-nav-collapse {
    background-color: $mainPink !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

.rgba-gradient {
    background: linear-gradient(45deg, $mainPink, $mainPurple 100%);
}

#intro-section {
    width: 100vw;
    height: 90vh;
    position: relative;
    z-index: 1;
    h1 {
        font-size: 3em;
        letter-spacing: 5px;
    }
    h4 {
        font-size: 1em;
    }
    .img-background {
        img {
            position: absolute;
            opacity: 0.5;
        }
        img:nth-child(1) {
            top: 10vh;
            right: 0;
            width: 10vw;
        }
        img:nth-child(2) {
            top: 70vh;
            right: 10vw;
        }
        img:nth-child(3) {
            bottom: 10vh;
            left: 0vw;
            width: 5vw;
        }
        img:nth-child(4) {
            top: 10vh;
            right: 0;
            width: 25vw;
        }
    }
}

#btn-see-portfolio {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.18);
    animation: pulse-btn 2s infinite;
}

section {
    @include padding($top: 50px, $right: auto, $bottom: 25px, $left: auto);
}

.section-dash {
    width: 1px;
    height: 60px;
    background-color: $mainPurple;
}

.center-element {
    margin-left: 50%;
    margin-bottom: 10px;
}

#about img {
    max-width: 80%;
}

.text-behind {
    position: absolute;
    font-size: 10em;
    letter-spacing: 20px;
    font-weight: bold;
    color: #f8003e1f;
    top: -15%;
    left: 5%;
    text-transform: uppercase;
}

.background-half {
    background: linear-gradient(to bottom, $lightGrey1 65%, $white 35%);
}

.md-pills {
    .nav-link.active {
        border-bottom: 1px solid $mainPurple !important;
        transition: 1s;
    }
}

button.close {
    position: absolute;
    right: 0;
    z-index: 2;
    @include padding($top: .6rem, $right: 1rem, $bottom: auto, $left: auto);
}

#projects {
    .md-pills a {
        color: $mainPink;
        margin-bottom: 15px;
        border-bottom: 1px solid $lightGrey2;
    }
}

.my-btn-pink {
    background-color: $mainPink;
    @include padding($top: 10px, $right: 20px, $bottom: 15px, $left: 20px);
    border-radius: 2px;
    width: fit-content;
    &:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        transition: 0.5s;
    }
}

a[download] {
    color: $white;
}

.tech-icons {
    i {
        font-size: 5em;
        @include padding($top: 5%, $right: 5%, $bottom: 5%, $left: 5%);
    }
    p {
        opacity: 0;
    }
    div {
        &:hover {
            cursor: pointer;
        }
    }
}

.icons-mouseover {
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.5s;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.align-vertically {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-pink-header {
    font-size: $headingFontSize;
    text-transform: uppercase;
    @include padding($top: 2rem, $right: auto, $bottom: 2rem, $left: auto);
    background-color: $mainPink;
    color: white;
}

.modal {
    .color-pink {
        font-size: $headingFontSize;
        text-transform: uppercase;
    }
    p {
        @include padding($top: auto, $right: 10px, $bottom: auto, $left: 10px);
    }
    button span {
        color: $white;
        font-size: 30px;
    }
}

#skills {
    ul {
        list-style-type: none;
        text-align: left;
        i {
            color: $mainPink;
        }
    }
    img {
        max-width: 40%;
    }
}

@import '_rwd.scss';